{
  "env": {
    "node": true,
    "jest": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "plugins": ["import"],
  "rules": {
    "no-console": ["off"],
    "import/prefer-default-export": ["off"]
  }
}
